.sg-heading-0001 {
  box-sizing: content-box; }
  .sg-heading-0001 .sg-heading-0001__h-elm {
    border-left: 16px solid #333333;
    background: #666666;
    color: #ffffff;
    display: block;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    padding: 8px 16px;
    box-sizing: content-box; }
