@charset "UTF-8";
/**
 * 各モジュール、各レイアウトで使用するbackground-imageのmixinを以下に手書きで定義
 */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * このファイルは上記のファイルを@importする為だけのファイルなので、mixinはここには記述しません。
 * - CSSスプライトを使用しない単体のbackground-imageのmixinは「_mixin__bg-image__solo.scss」に手書きします。
 * - CSSスプライトをするbackground-imageのmixinは「_mixin__bg-image__spritesmith.scss」として自動生成されます。
 *
 * 上記の2ファイル内に定義されたmixinを各モジュール内で実行することとし、画像ファイルのパスを各モジュール内に書くことを禁止しています。
 *
 */
.form-frame-0001 .form-frame-0001__second-wrap {
  display: block; }
.form-frame-0001 .form-frame-0001__third-wrap {
  display: block;
  color: #777777;
  background: #f3f3f3;
  border-radius: 4px; }
.form-frame-0001 .form-frame-0001__like-table {
  display: block;
  padding: 0px 12px;
  table-layout: fixed; }
.form-frame-0001 .form-frame-0001__like-tr {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  zoom: 1; }
  .form-frame-0001 .form-frame-0001__like-tr:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
  .form-frame-0001 .form-frame-0001__like-tr + .form-frame-0001__like-tr {
    border-top: 1px solid #ffffff; }
.form-frame-0001 .error-message,
.form-frame-0001 .form-frame-0001__error-message {
  color: #ff0000;
  padding: 6px 8px 0 8px;
  font-size: 12px;
  line-height: 1.5;
  display: block; }
.form-frame-0001 .form-frame-0001__left-column {
  display: block;
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: 0 48px 0 0; }
.form-frame-0001 .form-frame-0001__left-column__table {
  display: table;
  width: 100%; }
.form-frame-0001 .form-frame-0001__left-column__tr {
  display: table-row; }
.form-frame-0001 .form-frame-0001__left-column__text-wrap {
  display: table-cell;
  color: #444444;
  vertical-align: top;
  line-height: 1.5;
  padding-top: 6px; }
.form-frame-0001 .form-frame-0001__left-column__badge-wrap {
  display: table-cell;
  vertical-align: top;
  padding: 6px 0px 0px 4px;
  width: 1%;
  white-space: nowrap;
  line-height: 0; }
.form-frame-0001 .form-frame-0001__left-column__tooltip-wrap {
  display: table-cell;
  vertical-align: top;
  padding: 6px 0px 0px 4px;
  width: 1%;
  white-space: nowrap; }
.form-frame-0001 .form-frame-0001__right-column {
  display: block;
  width: 70%;
  float: right; }
.form-frame-0001 .form-frame-0001__right-column__inner-wrap {
  zoom: 1; }
  .form-frame-0001 .form-frame-0001__right-column__inner-wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--block,
.form-frame-0001 .form-frame-0001__right-column__content-wrap--15-p,
.form-frame-0001 .form-frame-0001__right-column__content-wrap--20-p,
.form-frame-0001 .form-frame-0001__right-column__content-wrap--25-p,
.form-frame-0001 .form-frame-0001__right-column__content-wrap--33-p,
.form-frame-0001 .form-frame-0001__right-column__content-wrap--50-p,
.form-frame-0001 .form-frame-0001__right-column__content-wrap--auto {
  zoom: 1; }
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--block:after,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--15-p:after,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--20-p:after,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--25-p:after,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--33-p:after,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--50-p:after,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--auto:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--block + .form-frame-0001__right-column__example-side,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--15-p + .form-frame-0001__right-column__example-side,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--20-p + .form-frame-0001__right-column__example-side,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--25-p + .form-frame-0001__right-column__example-side,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--33-p + .form-frame-0001__right-column__example-side,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--50-p + .form-frame-0001__right-column__example-side,
  .form-frame-0001 .form-frame-0001__right-column__content-wrap--auto + .form-frame-0001__right-column__example-side {
    padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--auto {
  position: relative;
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--50-p {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--33-p {
  position: relative;
  display: block;
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--25-p {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--20-p {
  position: relative;
  display: block;
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--15-p {
  position: relative;
  display: block;
  float: left;
  width: 15%;
  box-sizing: border-box;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--block {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  line-height: 32px;
  padding-left: 8px;
  box-sizing: border-box; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--hyphen {
  position: relative;
  display: block;
  float: left;
  width: 1em;
  text-align: center;
  height: 32px;
  line-height: 32px;
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--paragraph-gray {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  line-height: 24px;
  padding-top: 4px;
  padding-left: 8px;
  box-sizing: border-box;
  color: #444444; }
.form-frame-0001 .form-frame-0001__right-column__content-wrap--paragraph-warning {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  line-height: 24px;
  padding-top: 4px;
  padding-left: 8px;
  color: #ff0000;
  box-sizing: border-box; }
.form-frame-0001 .form-frame-0001__right-column__example-side {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  float: left; }
.form-frame-0001 .form-frame-0001__right-column__example-top {
  padding-top: 6px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.5;
  display: block; }
  .form-frame-0001 .form-frame-0001__right-column__example-top + .form-frame-0001__right-column__inner-wrap {
    margin-top: 8px; }
.form-frame-0001 .form-frame-0001__right-column__example-bottom {
  padding-top: 6px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.5;
  display: block; }
.form-frame-0001 .form-frame-0001__right-column__notes-ul {
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__notes-li {
  font-size: 12px;
  line-height: 1.5; }
  .form-frame-0001 .form-frame-0001__right-column__notes-li + .form-frame-0001__right-column__notes-li {
    padding-top: 17px; }
.form-frame-0001 .form-frame-0001__right-column__notes-text {
  margin-top: 5px; }
.form-frame-0001 .form-frame-0001__right-column__commentary-ul {
  padding-left: 8px; }
.form-frame-0001 .form-frame-0001__right-column__commentary-li {
  font-size: 12px;
  line-height: 1.5;
  padding-left: 1em; }
  .form-frame-0001 .form-frame-0001__right-column__commentary-li + .form-frame-0001__right-column__commentary-li {
    padding-top: 17px; }
.form-frame-0001 .form-frame-0001__right-column__commentary-heading {
  text-indent: -1em; }
.form-frame-0001 .form-frame-0001__right-column__commentary-text {
  margin-top: 5px; }
.form-frame-0001 .form-frame-0001__right-column__inner-wrap + .form-frame-0001__right-column__notes-ul,
.form-frame-0001 .form-frame-0001__right-column__inner-wrap + .form-frame-0001__right-column__commentary-ul {
  padding-top: 6px; }
.form-frame-0001 .form-frame-0001__right-column__example-bottom + .form-frame-0001__right-column__notes-ul,
.form-frame-0001 .form-frame-0001__right-column__example-bottom + .form-frame-0001__right-column__commentary-ul,
.form-frame-0001 .form-frame-0001__warning-text + .form-frame-0001__right-column__notes-ul,
.form-frame-0001 .form-frame-0001__warning-text + .form-frame-0001__right-column__commentary-ul,
.form-frame-0001 .form-frame-0001__right-column__commentary-ul + .form-frame-0001__right-column__notes-ul,
.form-frame-0001 .form-frame-0001__right-column__notes-ul + .form-frame-0001__right-column__commentary-ul {
  padding-top: 17px; }
.form-frame-0001 .form-frame-0001__btn-outer-wrap {
  display: block;
  text-align: center; }
.form-frame-0001 .form-frame-0001__btn-middle-wrap {
  display: inline-block; }
.form-frame-0001 .form-frame-0001__btn-inner-wrap {
  width: 240px;
  float: left;
  padding: 17px 12px 29px 12px;
  box-sizing: border-box; }
