/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.mod-text-box-0001 .text-box__second-wrap {
  display: inline-block; }
.mod-text-box-0001 .text-box__third-wrap {
  font-size: 12px;
  line-height: 12px;
  padding: 4px 8px;
  border: 1px solid #ff0000;
  color: #ff0000;
  border-radius: 2px; }
