/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.mod-form-frame-0001 .form-frame__third-wrap {
  display: block;
  color: #777777;
  background: #f6f6f6;
  border-radius: 4px; }
.mod-form-frame-0001 .form-frame__like-table {
  padding: 0px 12px; }
.mod-form-frame-0001 .form-frame__like-tr {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  zoom: 1; }
  .mod-form-frame-0001 .form-frame__like-tr:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
  .mod-form-frame-0001 .form-frame__like-tr + .form-frame__like-tr {
    border-top: 1px solid #ffffff; }
.mod-form-frame-0001 .error-message,
.mod-form-frame-0001 .form-frame__error-message {
  color: #ff0000;
  padding: 6px 8px 0 8px;
  font-size: 12px;
  line-height: 1.5;
  display: block; }
.mod-form-frame-0001 .form-frame__left-column {
  display: block;
  float: left;
  width: 30%; }
.mod-form-frame-0001 .form-frame__left-column__inner-wrap {
  zoom: 1; }
  .mod-form-frame-0001 .form-frame__left-column__inner-wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
.mod-form-frame-0001 .form-frame__left-column__text {
  display: block;
  color: #333333;
  float: left;
  line-height: 1.5;
  padding-top: 6px; }
.mod-form-frame-0001 .form-frame__right-column__text {
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__left-column__badge-wrap {
  display: block;
  float: left;
  padding: 6px 0px 0px 4px; }
.mod-form-frame-0001 .form-frame__left-column__tool-tip-wrap {
  display: block;
  float: left;
  padding: 6px 0px 0px 4px; }
.mod-form-frame-0001 .form-frame__right-column {
  display: block;
  width: 70%;
  float: right; }
.mod-form-frame-0001 .form-frame__right-column__inner-wrap {
  zoom: 1; }
  .mod-form-frame-0001 .form-frame__right-column__inner-wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--block,
.mod-form-frame-0001 .form-frame__right-column__content-wrap--15p,
.mod-form-frame-0001 .form-frame__right-column__content-wrap--20p,
.mod-form-frame-0001 .form-frame__right-column__content-wrap--25p,
.mod-form-frame-0001 .form-frame__right-column__content-wrap--33p,
.mod-form-frame-0001 .form-frame__right-column__content-wrap--50p,
.mod-form-frame-0001 .form-frame__right-column__content-wrap--auto {
  zoom: 1; }
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--block:after,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--15p:after,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--20p:after,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--25p:after,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--33p:after,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--50p:after,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--auto:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--block + .form-frame__right-column__example-side,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--15p + .form-frame__right-column__example-side,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--20p + .form-frame__right-column__example-side,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--25p + .form-frame__right-column__example-side,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--33p + .form-frame__right-column__example-side,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--50p + .form-frame__right-column__example-side,
  .mod-form-frame-0001 .form-frame__right-column__content-wrap--auto + .form-frame__right-column__example-side {
    padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--auto {
  position: relative;
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--50p {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--33p {
  position: relative;
  display: block;
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--25p {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--20p {
  position: relative;
  display: block;
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--15p {
  position: relative;
  display: block;
  float: left;
  width: 15%;
  box-sizing: border-box;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--block {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  line-height: 32px;
  padding-left: 8px;
  box-sizing: border-box; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--hyphen {
  position: relative;
  display: block;
  float: left;
  width: 1em;
  text-align: center;
  height: 32px;
  line-height: 32px;
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--paragraph--gray {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  line-height: 24px;
  padding-top: 4px;
  padding-left: 8px;
  box-sizing: border-box;
  color: #333333; }
.mod-form-frame-0001 .form-frame__right-column__content-wrap--paragraph--warning {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  line-height: 24px;
  padding-top: 4px;
  padding-left: 8px;
  color: #ff0000;
  box-sizing: border-box; }
.mod-form-frame-0001 .form-frame__right-column__example-side {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  float: left; }
.mod-form-frame-0001 .form-frame__right-column__example-top {
  padding-top: 6px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.5;
  display: block; }
  .mod-form-frame-0001 .form-frame__right-column__example-top + .form-frame__right-column__inner-wrap {
    margin-top: 8px; }
.mod-form-frame-0001 .form-frame__right-column__example-bottom {
  padding-top: 6px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.5;
  display: block; }
.mod-form-frame-0001 .form-frame__right-column__notes-ul {
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__notes-li {
  font-size: 12px;
  line-height: 1.5; }
  .mod-form-frame-0001 .form-frame__right-column__notes-li + .form-frame__right-column__notes-li {
    padding-top: 17px; }
.mod-form-frame-0001 .form-frame__right-column__notes-text {
  margin-top: 5px; }
.mod-form-frame-0001 .form-frame__right-column__commentary-ul {
  padding-left: 8px; }
.mod-form-frame-0001 .form-frame__right-column__commentary-li {
  font-size: 12px;
  line-height: 1.5;
  padding-left: 1em; }
  .mod-form-frame-0001 .form-frame__right-column__commentary-li + .form-frame__right-column__commentary-li {
    padding-top: 17px; }
.mod-form-frame-0001 .form-frame__right-column__commentary-heading {
  text-indent: -1em; }
.mod-form-frame-0001 .form-frame__right-column__commentary-text {
  margin-top: 5px; }
.mod-form-frame-0001 .form-frame__right-column__inner-wrap + .form-frame__right-column__notes-ul,
.mod-form-frame-0001 .form-frame__right-column__inner-wrap + .form-frame__right-column__commentary-ul {
  padding-top: 6px; }
.mod-form-frame-0001 .form-frame__right-column__example-bottom + .form-frame__right-column__notes-ul,
.mod-form-frame-0001 .form-frame__right-column__example-bottom + .form-frame__right-column__commentary-ul,
.mod-form-frame-0001 .form-frame__warning-text + .form-frame__right-column__notes-ul,
.mod-form-frame-0001 .form-frame__warning-text + .form-frame__right-column__commentary-ul,
.mod-form-frame-0001 .form-frame__right-column__commentary-ul + .form-frame__right-column__notes-ul,
.mod-form-frame-0001 .form-frame__right-column__notes-ul + .form-frame__right-column__commentary-ul {
  padding-top: 17px; }
.mod-form-frame-0001 .form-frame__btn-outer-wrap {
  display: block;
  text-align: center; }
.mod-form-frame-0001 .form-frame__btn-middle-wrap {
  display: inline-block; }
.mod-form-frame-0001 .form-frame__btn-inner-wrap {
  width: 240px;
  float: left;
  padding: 17px 12px 29px 12px;
  box-sizing: border-box; }

.mod-form-frame-0002 .form-frame__third-wrap {
  display: block;
  padding: 32px;
  background: #f6f6f6;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-sizing: border-box; }
.mod-form-frame-0002 .form-frame__table {
  display: table;
  width: 100%; }
.mod-form-frame-0002 .form-frame__tr {
  display: table-row; }
.mod-form-frame-0002 .form-frame__th {
  display: table-cell;
  width: 1%;
  padding: 8px;
  white-space: nowrap;
  vertical-align: middle; }
.mod-form-frame-0002 .form-frame__td {
  padding: 8px; }
.mod-form-frame-0002 .form-frame__checkbox-wrap-0001 {
  display: block;
  padding: 4px 8px; }
.mod-form-frame-0002 .form-frame__text-link-wrap-0001 {
  display: block;
  padding: 4px 8px; }
.mod-form-frame-0002 .form-frame__btn-wrap-0001 {
  display: block;
  width: 60%;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto; }
