/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.mod-btn-0001 .btn__clickable-element {
  min-height: 20px;
  font-size: 12px;
  padding: 3px 8px 0px;
  line-height: 14px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  box-sizing: border-box;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear; }
  .mod-btn-0001 .btn__clickable-element + input {
    display: none; }
.mod-btn-0001 input[type="button"].btn__clickable-element,
.mod-btn-0001 input[type="submit"].btn__clickable-element {
  min-height: 20px;
  font-size: 12px;
  padding: 2px 8px 0px;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  border: none;
  appearance: none; }
.mod-btn-0001.is-disabled .btn__clickable-element {
  background: #f6f6f6!important;
  color: #dddddd!important;
  cursor: default !important; }
.mod-btn-0001:disabled {
  background: #f6f6f6!important;
  color: #dddddd!important;
  cursor: default !important; }
.mod-btn-0001.tm-default .btn__clickable-element {
  color: #ffffff;
  background: #e88a38; }
.mod-btn-0001.tm-default input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-default input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-default .btn__clickable-element:hover {
  background: #eda261; }
.mod-btn-0001.tm-0001 .btn__clickable-element {
  color: #ffffff;
  background: #e8c138; }
.mod-btn-0001.tm-0001 input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-0001 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-0001 .btn__clickable-element:hover {
  background: #edce61; }
.mod-btn-0001.tm-0002 .btn__clickable-element {
  color: #ffffff;
  background: #158000; }
.mod-btn-0001.tm-0002 input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-0002 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-0002 .btn__clickable-element:hover {
  background: #1dae00; }
.mod-btn-0001.tm-0003 .btn__clickable-element {
  color: #ffffff;
  background: #ff3333; }
.mod-btn-0001.tm-0003 input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-0003 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-0003 .btn__clickable-element:hover {
  background: #ff6161; }
.mod-btn-0001.tm-0004 .btn__clickable-element {
  color: #ffffff;
  background: #999999; }
.mod-btn-0001.tm-0004 input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-0004 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-0004 .btn__clickable-element:hover {
  background: #b0b0b0; }
.mod-btn-0001.tm-0005 .btn__clickable-element {
  color: #ffffff;
  background: #cc00cc; }
.mod-btn-0001.tm-0005 input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-0005 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-0005 .btn__clickable-element:hover {
  background: #fa00fa; }
.mod-btn-0001.tm-0006 .btn__clickable-element {
  color: #ffffff;
  background: #333333; }
.mod-btn-0001.tm-0006 input[type="button"].btn__clickable-element:hover,
.mod-btn-0001.tm-0006 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0001.tm-0006 .btn__clickable-element:hover {
  background: #4a4a4a; }
.mod-btn-0001.vr-btn-arrow--white .btn__clickable-element {
  position: relative;
  padding-right: 24px; }
  .mod-btn-0001.vr-btn-arrow--white .btn__clickable-element:before {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -10px;
    content: ""; }

.mod-btn-0002 .btn__clickable-element {
  min-height: 32px;
  font-size: 12px;
  padding: 8px 8px;
  line-height: 16px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  box-sizing: border-box;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear; }
  .mod-btn-0002 .btn__clickable-element + input {
    display: none; }
.mod-btn-0002 input[type="button"].btn__clickable-element,
.mod-btn-0002 input[type="submit"].btn__clickable-element {
  min-height: 32px;
  font-size: 12px;
  padding: 7px 8px;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  border: none;
  appearance: none; }
.mod-btn-0002.is-disabled .btn__clickable-element {
  background: #f6f6f6!important;
  color: #dddddd!important;
  cursor: default !important; }
.mod-btn-0002:disabled {
  background: #f6f6f6!important;
  color: #dddddd!important;
  cursor: default !important; }
.mod-btn-0002.tm-default .btn__clickable-element {
  color: #ffffff;
  background: #e88a38; }
.mod-btn-0002.tm-default input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-default input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-default .btn__clickable-element:hover {
  background: #eda261; }
.mod-btn-0002.tm-0001 .btn__clickable-element {
  color: #ffffff;
  background: #e8c138; }
.mod-btn-0002.tm-0001 input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-0001 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-0001 .btn__clickable-element:hover {
  background: #edce61; }
.mod-btn-0002.tm-0002 .btn__clickable-element {
  color: #ffffff;
  background: #158000; }
.mod-btn-0002.tm-0002 input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-0002 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-0002 .btn__clickable-element:hover {
  background: #1dae00; }
.mod-btn-0002.tm-0003 .btn__clickable-element {
  color: #ffffff;
  background: #ff3333; }
.mod-btn-0002.tm-0003 input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-0003 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-0003 .btn__clickable-element:hover {
  background: #ff6161; }
.mod-btn-0002.tm-0004 .btn__clickable-element {
  color: #ffffff;
  background: #999999; }
.mod-btn-0002.tm-0004 input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-0004 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-0004 .btn__clickable-element:hover {
  background: #b0b0b0; }
.mod-btn-0002.tm-0005 .btn__clickable-element {
  color: #ffffff;
  background: #cc00cc; }
.mod-btn-0002.tm-0005 input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-0005 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-0005 .btn__clickable-element:hover {
  background: #fa00fa; }
.mod-btn-0002.tm-0006 .btn__clickable-element {
  color: #ffffff;
  background: #333333; }
.mod-btn-0002.tm-0006 input[type="button"].btn__clickable-element:hover,
.mod-btn-0002.tm-0006 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0002.tm-0006 .btn__clickable-element:hover {
  background: #4a4a4a; }
.mod-btn-0002.vr-btn-arrow--white .btn__clickable-element {
  position: relative;
  padding-right: 24px; }
  .mod-btn-0002.vr-btn-arrow--white .btn__clickable-element:before {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -10px;
    content: ""; }

.mod-btn-0003 .btn__clickable-element {
  min-height: 44px;
  font-size: 14px;
  padding: 11px 8px 11px;
  line-height: 22px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  box-sizing: border-box;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear; }
  .mod-btn-0003 .btn__clickable-element + input {
    display: none; }
.mod-btn-0003 input[type="button"].btn__clickable-element,
.mod-btn-0003 input[type="submit"].btn__clickable-element {
  min-height: 44px;
  font-size: 14px;
  padding: 10px 8px 9px;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  border: none;
  appearance: none; }
.mod-btn-0003.is-disabled .btn__clickable-element {
  background: #f6f6f6!important;
  color: #dddddd!important;
  cursor: default !important; }
.mod-btn-0003:disabled {
  background: #f6f6f6!important;
  color: #dddddd!important;
  cursor: default !important; }
.mod-btn-0003.tm-default .btn__clickable-element {
  color: #ffffff;
  background: #e88a38; }
.mod-btn-0003.tm-default input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-default input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-default .btn__clickable-element:hover {
  background: #eda261; }
.mod-btn-0003.tm-0001 .btn__clickable-element {
  color: #ffffff;
  background: #e8c138; }
.mod-btn-0003.tm-0001 input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-0001 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-0001 .btn__clickable-element:hover {
  background: #edce61; }
.mod-btn-0003.tm-0002 .btn__clickable-element {
  color: #ffffff;
  background: #158000; }
.mod-btn-0003.tm-0002 input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-0002 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-0002 .btn__clickable-element:hover {
  background: #1dae00; }
.mod-btn-0003.tm-0003 .btn__clickable-element {
  color: #ffffff;
  background: #ff3333; }
.mod-btn-0003.tm-0003 input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-0003 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-0003 .btn__clickable-element:hover {
  background: #ff6161; }
.mod-btn-0003.tm-0004 .btn__clickable-element {
  color: #ffffff;
  background: #999999; }
.mod-btn-0003.tm-0004 input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-0004 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-0004 .btn__clickable-element:hover {
  background: #b0b0b0; }
.mod-btn-0003.tm-0005 .btn__clickable-element {
  color: #ffffff;
  background: #cc00cc; }
.mod-btn-0003.tm-0005 input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-0005 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-0005 .btn__clickable-element:hover {
  background: #fa00fa; }
.mod-btn-0003.tm-0006 .btn__clickable-element {
  color: #ffffff;
  background: #333333; }
.mod-btn-0003.tm-0006 input[type="button"].btn__clickable-element:hover,
.mod-btn-0003.tm-0006 input[type="submit"].btn__clickable-element:hover,
.mod-btn-0003.tm-0006 .btn__clickable-element:hover {
  background: #4a4a4a; }
.mod-btn-0003.vr-btn-arrow--white .btn__clickable-element {
  position: relative;
  padding-right: 24px; }
  .mod-btn-0003.vr-btn-arrow--white .btn__clickable-element:before {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -10px;
    content: ""; }
