/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.TableLike0001 .TableLike0001__SecondWrap {
  display: block; }
.TableLike0001 .TableLike0001__LoadingIconWrap {
  position: relative;
  height: 100px; }
.TableLike0001 .TableLike0001__Table {
  display: table;
  width: 100%; }
.TableLike0001 .TableLike0001__Tr {
  display: table-row;
  position: relative; }
  .TableLike0001 .TableLike0001__Tr:nth-child(2n+1) {
    background: #f6f6f6; }
.TableLike0001 .TableLike0001__Td0002,
.TableLike0001 .TableLike0001__Th0002,
.TableLike0001 .TableLike0001__Td0001,
.TableLike0001 .TableLike0001__Th0001 {
  position: relative;
  display: table-cell;
  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  vertical-align: top; }
.TableLike0001 [class*="TableLike0001__Th"] {
  background: #c9c9c9; }
.TableLike0001 .TableLike0001__Td0001,
.TableLike0001 .TableLike0001__Th0001 {
  width: 20%;
  white-space: nowrap; }
.TableLike0001 .TableLike0001__Td0002,
.TableLike0001 .TableLike0001__Th0002 {
  width: 40%; }
.TableLike0001 .TableLike0001__ThInner,
.TableLike0001 .TableLike0001__TdInner {
  display: block;
  padding: 12px 0 12px 12px;
  zoom: 1; }
  .TableLike0001 .TableLike0001__ThInner:after,
  .TableLike0001 .TableLike0001__TdInner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0; }
.TableLike0001 .TableLike0001__TranslucentLayer {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute; }
.TableLike0001 .TableLike0001__TdInner__Box100p,
.TableLike0001 .TableLike0001__TdInner__Box75p,
.TableLike0001 .TableLike0001__TdInner__Box50p,
.TableLike0001 .TableLike0001__TdInner__Box25p {
  padding-right: 12px;
  float: left;
  box-sizing: border-box; }
.TableLike0001 .TableLike0001__TdInner__Box100p {
  width: 100%; }
.TableLike0001 .TableLike0001__TdInner__Box75p {
  width: 75%; }
.TableLike0001 .TableLike0001__TdInner__Box50p {
  width: 50%; }
.TableLike0001 .TableLike0001__TdInner__Box25p {
  width: 25%; }
.TableLike0001 .TableLike0001__TextWrap {
  padding-top: 4px; }
.TableLike0001 .TableLike0001__NotesText {
  font-size: 12px;
  color: #777777;
  padding-top: 4px; }
.TableLike0001 .TableLike0001__WarningText {
  font-size: 12px;
  color: #ff0000;
  padding-top: 4px; }
