/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.mod-form-type-text-0001 .form-type-text__input-element {
  display: block;
  width: 100%;
  border: 1px solid #c9c9c9;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 4px 4px 4px 6px;
  color: #333333;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 2px; }
  .mod-form-type-text-0001 .form-type-text__input-element.is-worning, .mod-form-type-text-0001 .form-type-text__input-element.form-error {
    border-color: #ff0000;
    background-color: #ffe6e6; }
  .mod-form-type-text-0001 .form-type-text__input-element[disabled], .mod-form-type-text-0001 .form-type-text__input-element.is-disabled {
    background-color: #f6f6f6; }
  .mod-form-type-text-0001 .form-type-text__input-element[readonly] {
    border: 1px solid transparent;
    background-color: transparent; }
.mod-form-type-text-0001.vr-0001 .form-type-text__input-element {
  height: 44px;
  line-height: 44px; }
.mod-form-type-text-0001.vr-0001 .form-type-text__anchor-element {
  height: 44px; }
.mod-form-type-text-0001.vr-0002 .form-type-text__input-element {
  height: 20px;
  line-height: 20px; }
.mod-form-type-text-0001.vr-0002 .form-type-text__anchor-element {
  height: 20px;
  background-position: 50% 50%;
  height: 20px;
  width: 48px; }
