@charset "UTF-8";
/**
 * 各モジュール、各レイアウトで使用するbackground-imageのmixinを以下に手書きで定義
 */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * このファイルは上記のファイルを@importする為だけのファイルなので、mixinはここには記述しません。
 * - CSSスプライトを使用しない単体のbackground-imageのmixinは「_mixin__bg-image__solo.scss」に手書きします。
 * - CSSスプライトをするbackground-imageのmixinは「_mixin__bg-image__spritesmith.scss」として自動生成されます。
 *
 * 上記の2ファイル内に定義されたmixinを各モジュール内で実行することとし、画像ファイルのパスを各モジュール内に書くことを禁止しています。
 *
 */
.step-info-0001 .step-info-0001__ul-ol-elm {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style: none; }
  .step-info-0001 .step-info-0001__ul-ol-elm:after {
    content: "";
    clear: both;
    display: block; }
.step-info-0001 .step-info-0001__li-elm {
  position: relative;
  padding: 0 12px;
  margin: 0;
  float: left;
  box-sizing: border-box;
  text-align: center;
  list-style: none; }
  .step-info-0001 .step-info-0001__li-elm + .step-info-0001__li-elm:before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #c9c9c9;
    top: 16px;
    left: -6px; }
  .step-info-0001 .step-info-0001__li-elm.step-info-0001__li-elm--active .step-info-0001__num {
    border: 4px solid #db8915;
    color: #db8915;
    background: #fbeeda; }
  .step-info-0001 .step-info-0001__li-elm.step-info-0001__li-elm--active .step-info-0001__text {
    color: #db8915; }
.step-info-0001 .step-info-0001__num {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border: 4px solid #c9c9c9;
  color: #c9c9c9;
  background: #f3f3f3;
  border-radius: 20px; }
  .step-info-0001 .step-info-0001__num.step-info-0001__num--active {
    border: 4px solid #db8915;
    color: #db8915;
    background: #fbeeda; }
.step-info-0001 .step-info-0001__text {
  padding-top: 8px;
  text-align: center;
  color: #c9c9c9; }
  .step-info-0001 .step-info-0001__text.step-info-0001__text--active {
    color: #db8915; }
.step-info-0001.step-info-0001--3-column .step-info-0001__li-elm {
  width: 33.33333333%; }
.step-info-0001.step-info-0001--4-column .step-info-0001__li-elm {
  width: 25%; }
.step-info-0001.step-info-0001--5-column .step-info-0001__li-elm {
  width: 20%; }
