@charset "utf-8";



.sg-table-0001 {
  padding: 112px 0 0 0;
  .sg-table-0001__first-wrap {
    position: relative;
    display: block;
  }
  .sg-table-0001__table-heading-wrap {
    display: block;
  }
  .sg-table-0001__table-desc {
    margin: 24px 16px 0;
    padding: 16px;
    background: #ffecd2;
    line-height: 1.5;
    font-size: 16px;
  }
  .sg-table-0001__table {
    display: table;
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;
  }
  .sg-table-0001__tr {
    display: table-row;
    list-style: none;
  }
  .sg-table-0001__desc-cell {
    width: 1%;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #cccccc;
    padding: 16px;
  }
  .sg-table-0001__display-cell {
    width: 1%;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #cccccc;
  }
  .sg-table-0001__sample-code-cell {
    display: table-cell;
    vertical-align: top;
    border: 1px solid #cccccc;
    padding: 16px;
  }
  .sg-table-0001__desc-cell-inner {
    width: 320px;
    padding: 16px;
    font-size: 16px;
    background: #ffecd2;
    line-height: 1.5;
  }
  .sg-table-0001__display-cell-inner {
    width: 960px;
    position: relative;
  }
  .sg-table-0001__sample-code-cell-inner {

  }
  .sg-table-0001__textarea-elm {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #999999;
    vertical-align: top;
    text-align: left;
  }
  .sg-table-0001__btn-select-this-code {
    margin: 12px 0 0 0;
    display: block;
    background: #dddddd;
    height: 44px;
    width: 100%;
    color: #333333;
    appearance : none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    &:hover {
      background: #e3e3e3;
      cursor: pointer;
    }
  }
  .sg-table-0001__translucent-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    background: #000000;
  }
  .sg-table-0001__deprecated-info {
    display: none;
    position: absolute;
    top: -44px;
    left: 0;
    font-size: 20px;
    height: 24px;
    color: #ff3333;
    border: 2px solid #ff3333;
    background: #ffeeee;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    margin: 0;
    &:before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 48px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 12px 0 12px;
      border-color: #ff3333 transparent transparent transparent;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 49px;
      display: block;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 11px 0 11px;
      border-color: #ffeeee transparent transparent transparent;
      z-index: 2;
    }
  }
  &.sg-table-0001--deprecated {
    .sg-table-0001__translucent-layer {
      display: block;
    }
    .sg-table-0001__deprecated-info {
      display: block;
    }
  }
}
