@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";



// --------------------------------
// l-page-type-0001
//---------------------------------
.l-page-type-0001{
  .l-page-type-0001__outer-wrap{

  }
  .l-page-type-0001__middle-wrap-0001{

  }
  .l-page-type-0001__middle-wrap-0002{
    width: $container-lg;
    margin:0 auto;
    padding:0 12px;
    box-sizing:border-box;
  }
  .l-page-type-0001__middle-wrap-0003{

  }
  .l-page-type-0001__inner-wrap-top{

  }
  .l-page-type-0001__inner-wrap-left{

  }
  .l-page-type-0001__inner-wrap-center{

  }
  .l-page-type-0001__inner-wrap-right{

  }
  .l-page-type-0001__inner-wrap-bottom{

  }
}
