@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";



// --------------------------------
// l-section-h1
//---------------------------------
.l-section-h1{
  display: block;
}



// --------------------------------
// l-section-h2
//---------------------------------
.l-section-h2{
  display: block;
}



// --------------------------------
// l-section-h3
//---------------------------------
.l-section-h3{
  display: block;
}



// --------------------------------
// l-section-h4
//---------------------------------
.l-section-h4{
  display: block;
}



// --------------------------------
// l-section-h5
//---------------------------------
.l-section-h5{
  display: block;
}



// --------------------------------
// l-section-h6
//---------------------------------
.l-section-h6{
  display: block;
}
