@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";



// --------------------------------
// l-h1-section
//---------------------------------
.l-h1-section{
  display: block;
}



// --------------------------------
// l-h2-section
//---------------------------------
.l-h2-section{
  display: block;
}



// --------------------------------
// l-h3-section
//---------------------------------
.l-h3-section{
  display: block;
}



// --------------------------------
// l-h4-section
//---------------------------------
.l-h4-section{
  display: block;
}



// --------------------------------
// l-h5-section
//---------------------------------
.l-h5-section{
  display: block;
}



// --------------------------------
// l-h6-section
//---------------------------------
.l-h6-section{
  display: block;
}
