@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";



.badge-0001{
  display: inline-block;
  font-size: 0;
  .badge-0001__first-wrap{
    font-size: 12px;
    line-height: 12px;
    padding: 3px 8px;
    border: 1px solid $badge__color-0001;
    color: $badge__color-0001;
    background: lighten($badge__color-0001, 37%);
    border-radius: 2px;
  }
}
