@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";



.form-type-textarea-0001{
  .form-type-textarea-0001__input-elm{
    display: block;
    width: 100%;
    border: 1px solid $general__gray-color-0003;
    font-size: 14px;
    height: 240px;
    line-height: 1.5;
    padding:8px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 2px;
    &.form-type-textarea-0001__input-elm--error,
    &.form-error{
      border-color: $general__warning-color-0001;
      background-color: lighten( $general__warning-color-0001, 37% );
    }
    &[disabled],
    &.form-type-text-0001__input-element--disabled{
      background-color: $general__gray-color-0001;
      color: $general__gray-color-0003;
    }
    &[readonly]{
      border: 1px solid transparent;
      background-color: transparent;
    }
  }
}
