@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";



.form-type-text-0001{
  .form-type-text-0001__input-element{
    display: block;
    width: 100%;
    border: 1px solid $general__gray-color-0003;
    color:$general__body-text-color;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 2px;
    &.form-type-text-0001__input-element--error,
    &.form-error{
      border-color: $general__warning-color-0001;
      background-color: lighten( $general__warning-color-0001, 37% );
    }
    &[disabled],
    &.form-type-text-0001__input-element--disabled{
      background-color: $general__gray-color-0001;
      color: $general__gray-color-0003;
    }
    &[readonly]{
      cursor: text;
      border: 1px solid transparent;
      background-color: transparent;
    }
  }

  &.form-type-text-0001--form-height-xs{
    .form-type-text-0001__input-element{
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      padding:2px 8px;
    }
  }

  &.form-type-text-0001--form-height-sm{
    .form-type-text-0001__input-element{
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      padding:4px 8px;
    }
  }

  &.form-type-text-0001--form-height-md{
    .form-type-text-0001__input-element{
      font-size: 14px;
      height: 34px;
      line-height: 34px;
      padding:4px 8px;
    }
  }

  &.form-type-text-0001--form-height-lg{
    .form-type-text-0001__input-element{
      font-size: 18px;
      height: 46px;
      line-height: 46px;
      padding:4px 8px;
    }
  }

  .form-frame-0001 & {
    .form-type-text-0001__input-element {
      &[readonly] {
        padding-left: 0;
      }
    }
  }

  @include media($breakpoint__size-sm){

  }
}
