@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";



// --------------------------------
// mod-btn-0001
//---------------------------------
@mixin mod-btn-0001($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-btn-0001{
      .btn__first-wrap{
      }
      .btn__clickable-element{
        min-height:20px;
        font-size: 12px;
        padding:3px 8px 0px;
        line-height: 14px;
        border-radius: 4px;
        @include mod-btn__clickable-element-property--general();
      }
      input[type="button"].btn__clickable-element,
      input[type="submit"].btn__clickable-element{
        min-height:20px;
        font-size: 12px;
        padding:2px 8px 0px;
        border-radius: 4px;
        @include mod-btn__clickable-element-property--input();
      }
      @include mod-btn__disabled-color();
      @include mod-btn__themes();
      @include mod-btn__arrow();
      // @include mod-btn__icons();
      // @include loadingIcon();//幅32px,高さ32pxのローディングアイコンを入れるときは32



      @if $smartphone-styles == true {
        @include media($breakpoint-sp){
          .mod-m-form-frame-0001 &{
            .btn__anchor-element{
              min-height:44px;
              padding:11px 8px 11px;
              font-size: 14px;
              line-height: 22px;
            }
            input[type="button"].btn__anchor-element,
            input[type="submit"].btn__anchor-element{
              min-height:44px;
              padding:10px 8px 9px;
            }
          }
        }
      }//end of @if $smartphone-styles == true
    }
  }
}// end of @mixin mod-btn-0001



// --------------------------------
// mod-btn-0002
//---------------------------------
@mixin mod-btn-0002($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-btn-0002{
      .btn__first-wrap{
      }
      .btn__clickable-element{
        min-height:32px;
        font-size: 12px;
        padding:8px 8px;
        line-height: 16px;
        border-radius: 4px;
        @include mod-btn__clickable-element-property--general();
      }
      input[type="button"].btn__clickable-element,
      input[type="submit"].btn__clickable-element{
        min-height:32px;
        font-size: 12px;
        padding:7px 8px;
        border-radius: 4px;
        @include mod-btn__clickable-element-property--input();
      }
      @include mod-btn__disabled-color();
      @include mod-btn__themes();
      @include mod-btn__arrow();
      // @include mod-btn__icons();
      // @include loadingIcon();//幅32px,高さ32pxのローディングアイコンを入れるときは32



      @if $smartphone-styles == true {
        @include media($breakpoint-sp){
          .mod-m-form-frame-0001 &{
            .btn__anchor-element{
              min-height:44px;
              padding:11px 8px 11px;
              font-size: 14px;
              line-height: 22px;
            }
            input[type="button"].btn__anchor-element,
            input[type="submit"].btn__anchor-element{
              min-height:44px;
              padding:10px 8px 9px;
            }
          }
        }
      }//end of @if $smartphone-styles == true
    }
  }
}// end of @mixin mod-btn-0002



// --------------------------------
// mod-btn-0003
//---------------------------------
@mixin mod-btn-0003($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-btn-0003{
      .btn__first-wrap{
      }
      .btn__clickable-element{
        min-height:44px;
        font-size: 14px;
        padding:11px 8px 11px;
        line-height: 22px;
        border-radius: 4px;
        @include mod-btn__clickable-element-property--general();
      }
      input[type="button"].btn__clickable-element,
      input[type="submit"].btn__clickable-element{
        min-height:44px;
        font-size: 14px;
        padding:10px 8px 9px;
        border-radius: 4px;
        @include mod-btn__clickable-element-property--input();
      }
      @include mod-btn__disabled-color();
      @include mod-btn__themes();
      @include mod-btn__arrow();
      // @include mod-btn__icons();
      // @include loadingIcon();//幅32px,高さ32pxのローディングアイコンを入れるときは32



      @if $smartphone-styles == true {
        @include media($breakpoint-sp){
          .mod-m-form-frame-0001 &{
            .btn__anchor-element{
              min-height:44px;
              padding:11px 8px 11px;
              font-size: 14px;
              line-height: 22px;
            }
            input[type="button"].btn__anchor-element,
            input[type="submit"].btn__anchor-element{
              min-height:44px;
              padding:10px 8px 9px;
              appearance:none;
            }
          }
        }
      }//end of @if $smartphone-styles == true
    }
  }
}// end of @mixin mod-btn-0003



// --------------------------------
// moduleを生成
//---------------------------------
@include mod-btn-0001(TRUE);
@include mod-btn-0002(TRUE);
@include mod-btn-0003(TRUE);
