@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";

// --------------------------------
// +mod-s-form-type-textarea-0001
// --------------------------------
@mixin mod-form-type-textarea-0001($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-form-type-textarea-0001{
      .form-type-textarea__input-element{
        display: block;
        width: 100%;
        border: 1px solid $general__gray-color--0003;
        font-size: 14px;
        height: 240px;
        line-height: 1.5;
        padding:8px;
        outline: none;
        box-shadow: none;
        box-sizing: border-box;
        border-radius: 2px;
        &.is-warning,
        &.form-error{
          border-color: $general__warning-color--0001;
          background-color: lighten( $general__warning-color--0001, 45% );
        }
      }
    }
  }
}



// --------------------------------
// generate
// --------------------------------
@include mod-form-type-textarea-0001(TRUE);
