@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";



// --------------------------------
// mod-list-0001
//---------------------------------
@mixin mod-list-0001($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-list-0001{
      .list__first-wrap{
      }
      .list__ul-ol-element{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        @include clearfix();
      }
      .list__li-element{
        position: relative;
        padding-left:12px;
        padding-right:12px;
        float: left;
        box-sizing: border-box;
        &+.list__li-element{
          &:before{
            position:absolute;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 12px;
            border-color: transparent transparent transparent $general__gray-color--0003;
            top: 16px;
            left: -6px;
          }
        }
      }
      .list__num{
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        border:4px solid $general__gray-color--0003;
        color: $general__gray-color--0003;
        background: $general__gray-color--0001;
        border-radius: 20px;
        &.is-current{
          border:4px solid $general__key-color--0002;
          color: $general__key-color--0002;
          background: lighten($general__key-color--0002, 45%);
        }
      }
      .list__text{
        padding-top:8px;
        text-align: center;
        color: $general__gray-color--0003;
        &.is-current{
          color: $general__key-color--0002;
        }
      }
      &.is-3column{
        .list__li-element{
          width: 33.33333333%;
        }
      }
      &.is-4column{
        .list__li-element{
          width: 25%;
        }
      }
      &.is-5column{
        .list__li-element{
          width: 20%;
        }
      }
    }
  }
}// end of @mixin mod-list-0001

// --------------------------------
// mod-list-0002
//---------------------------------
@mixin mod-list-0002($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-list-0002{
      .list__first-wrap{
      }
      .list__loading-icon-wrap{
        height:96px;
        position:relative;
      }
      .list__ul-ol-element{
      }
      .list__li-element{
        padding:4px 12px 12px;
        border:2px solid $general__gray-color--0003;
        border-radius: 4px;
        &+.list__li-element{
          margin-top:12px;
        }
      }
      .list__header{
        margin-top:5px;
        @include clearfix();
      }
      .list__header__content{
        display: block;
        float: left;
        color: $general__gray-color--0007;
        &+.list__header__content{
          float: left;
          margin-left: 16px;
        }
      }
      .list__heading{
        border-bottom:1px solid $general__gray-color--0003;
        padding-bottom: 3px;
        &+.list__text-wrap{
          margin-top:9px;
        }
      }
      .list__heading__anchor-element{
        text-decoration: none;
        font-size: 32px;
        color: $general__gray-color--0009;
        &:hover{
          color: $general__gray-color--0007;
        }
      }
      .list__tag-ul{
        @include clearfix();
        &+.list__text-wrap{
          margin-top:9px;
        }
      }
      .list__tag-li{
        margin-top:12px;
        float: left;
        &+.list__tag-li{
          margin-left: 8px;
        }
      }
      .list__text-wrap{

      }
      .list__menu-ul{
        margin-top:4px;
        @include clearfix();
      }
      .list__menu-li{
        float: left;
        line-height:1;
        margin-top:3px;
        &+.list__menu-li{
          margin-left: 8px;
          border-left:1px solid $general__gray-color--0003;
          padding-left: 8px;
        }
      }
    }
  }
}// end of @mixin mod-list-0002






// --------------------------------
// moduleを生成
//---------------------------------
@include mod-list-0001(TRUE);
@include mod-list-0002(TRUE);
