@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";



// --------------------------------
// mod-header-0001
//---------------------------------
@mixin mod-header-0001($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-header-0001{
      .header__first-wrap{
      }
      .header__second-wrap{
        display: block;
      }
      .header__third-wrap{
        width: 1296px;
        margin-left: auto;
        margin-right:auto;
        box-sizing:border-box;
        padding-left:12px;
        padding-right:12px;
        @include clearfix();
      }
      .header__fourth-wrap{
      }
      .header__logo-wrap{
        float: left;
      }
      .header__logo-text{
        color: $general__gray-color--0009;
        display: block;
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        font-weight: 700;
        text-decoration: none;
        &:hover{
          color: $general__gray-color--0008;
        }
      }
      .header__user-nav{
        float: right;
        padding-top: 8px;
      }
      .header__user-nav__text-wrap{

      }
      .header__user-nav__anchor-element{

      }
      .header__global-nav{
        background: $header-0001__palette-02-default;
      }
      .header__global-nav__ul-lv1{
        background: $header-0001__palette-02-default;
        width: 1296px;
        margin:0 auto;
        box-sizing:border-box;
        padding:0 12px;
        @include clearfix();
      }
      .header__global-nav__li-lv1{
        float: left;
        width: 20%;
        border-right:2px solid $general__white-color;
        &:first-child{
          border-left:2px solid $general__white-color;
        }
      }
      .header__global-nav__anchor-lv1{
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        line-height: 40px;
        height: 40px;
        font-size: 16px;
        color: $general__white-color;
        background: $header-0001__palette-02-default;
        text-decoration: none;
        text-align: center;
        &:hover{
          background: $header-0001__palette-02-default--hover;
        }
      }
      .header__info{
        float:right;
        display: block;
        padding-left: 24px;
        padding-right: 24px;
        line-height: 40px;
        height: 40px;
      }
      .header__mypage-nav{
        background: $header-0001__palette-02-default;
        margin-top:12px;
      }
      .header__mypage-nav__ul-lv1{
        background: $header-0001__palette-02-default;
        width: 1296px;
        margin:0 auto;
        padding:0 12px;
        box-sizing:border-box;
        @include clearfix();
      }
      .header__mypage-nav__li-lv1{
        float: left;
        width: 16.66666667%;
        border-right:2px solid $general__white-color;
        background: $header-0001__palette-02-default;
        position: relative;
        z-index: 1;
        &:first-child{
          border-left:2px solid $general__white-color;
        }
      }
      .header__mypage-nav__anchor-lv1{
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        line-height: 32px;
        height: 32px;
        color: $general__white-color;
        text-decoration: none;
        text-align: center;
        &:hover{
          background: $header-0001__palette-02-default--hover;
        }
      }
      .header__mypage-nav__ul-lv2{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 100%;
        border-top:1px solid $general__white-color;
        &.is-show{
          display: block;
        }
      }
      .header__mypage-nav__li-lv2{
        background: $header-0001__palette-02-default;
      }
      .header__mypage-nav__anchor-lv2{
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        line-height: 32px;
        height: 32px;
        color: $general__white-color;
        text-decoration: none;
        text-align: center;
        &:hover{
          background: $header-0001__palette-02-default--hover;
        }
      }



    }
  }
}// end of @mixin mod-header-0001




// --------------------------------
// moduleを生成
//---------------------------------
@include mod-header-0001(TRUE);
