@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";



// --------------------------------
// mod-text-box-0001
// --------------------------------
@mixin mod-text-box-0001($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-text-box-0001{
      .text-box__first-wrap{

      }
      .text-box__second-wrap{
        display: inline-block;
      }
      .text-box__third-wrap{
        font-size: 12px;
        line-height: 12px;
        padding: 4px 8px;
        border:1px solid $general__warning-color--0001;
        color: $general__warning-color--0001 ;
        border-radius: 2px;
      }
    }
  }
}





// --------------------------------
// generate
// --------------------------------
@include mod-text-box-0001(TRUE);
