@charset "utf-8";

//最初に読み込んでおくべき変数やmixinなどを読み込み
@import "../../src-common-scss/main";



// --------------------------------
// mod-breadcrumb-0001
//---------------------------------
@mixin mod-breadcrumb-0001($moduleFlg){
  @if $moduleFlg == TRUE {
    .mod-breadcrumb-0001{
      .breadcrumb__first-wrap{
      }
      .breadcrumb__ul-ol-element{
      }
      .breadcrumb__li-element{
        display: inline-block;
      }
      .breadcrumb__label{
      }
      .breadcrumb__arrow{
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
}// end of @mixin mod-breadcrumb-0001




// --------------------------------
// moduleを生成
//---------------------------------
@include mod-breadcrumb-0001(TRUE);
