@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";

/**
 * 自分で追記したresetスタイル
 */
body{
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color: $general__body-bg-color;
	color: $general__body-text-color;
	// font-size: $root-font-size#{px};
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
  font-weight: 400;
	vertical-align:baseline;
	background:transparent;
	text-decoration: underline;
	color: $general__link-text-color-0001;
}
a:link{}
a:visited{}
a:hover{
	color: lighten($general__link-text-color-0001,$range-hover-l);
	text-decoration: none;
}
a:active{}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

li{list-style: none;}
