@charset "utf-8";

// グローバルな領域に定義された変数とmixinを読み込み
@import "../../src-common-scss/global-variable-and-mixin";

/**
 * cake.generic.cssの不都合な箇所を上書きするスタイル
 */

form{
  width:100%;
}
form div{
  margin-bottom: 0;
  padding: 0;
}
