@charset "utf-8";

// ----------------------------
// font-size
// ----------------------------
$font-size__0001:8;
$font-size__0002:10;
$font-size__0003:12;
$font-size__0004:14;
$font-size__0005:16;
$font-size__0006:20;
$font-size__0007:24;
$font-size__0008:32;
$font-size__0009:40;
$font-size__0010:48;

// ----------------------------
//breakpoint(defaultとして960pxのpc用のcssを記述しています)
// ----------------------------
$breakpoint-pc-modern : 1272px;
$breakpoint-tablet    : 959px;
$breakpoint-sp        : 767px;

//
//tablet-styles(mediaqueryを使用しているtablet用のスタイルを使用する場合はtrue)
//
$tablet-styles : false;

//
//smartphone-styles(mediaqueryを使用しているsp用のスタイルを使用する場合はtrue)
//
$smartphone-styles : false;
